*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: whitesmoke;
    font-family: sans-serif;
}
h1{
    color: red;
    text-align: justify;
}
img{
    display: inline-block;
    border: 2px solid white;
    width: 220px;
    height: 350px;
}